/* Responsividade para iPad (tablet) */
@media (max-width: 1024px) {

    html, body {
        width: 100%;
    }
    
    .container {
        max-width: 100%;
    }

    /************************** SOBRE ***/
    .sobre {
        height: auto;
        width: 95%;
    }

    .container-sobre {
        height: auto;
        overflow-x: hidden;
    }
    .headline-sobre {
        height: auto;
        position: relative;
    }

    .conteudo-sobre {
        flex-direction: column-reverse;
        height: auto;
        gap: 3rem;
    }

    .left-sobre {
        width: 100%;
        height: auto;
    }

    .right-sobre {
        width: 100%;
        height: auto;
    }

    .imagem-sobre {
        justify-content: center;
    }

    .complemento-sobre {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .complemento-sobre img {
        position: unset;
        width: 100%;
    }

    /************************** SERVIÇOS ***/

    .headline-servicos {
        flex-direction: column;
        height: auto;
    }

    .titulo-servicos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .titulo-servicos h1 {
        font-size: 6rem;
    }

    .descricao-servicos {
        width: 100%;
        text-align: right;
        font-size: 1.4rem;
    }

    /************************** PORTFOLIO ***/

    .container-portfolio {
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .headline-portfolio {
        flex-direction: column;
        height: auto;
    }

    .headline-portfolio .titulo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .headline-portfolio .titulo {
        font-size: 6rem;
    }

    .headline-portfolio .descricao {
        width: 100%;
        text-align: right;
        font-size: 1.4rem;
    }

    .container-case {
        gap: 3rem;
        display: flex;
    }
    
    .case1,
    .case3 {
        flex-direction: column;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .case2, 
    .case4 {
        flex-direction: column-reverse;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }
    
    .imagens-case {
        width: 100%;
        height: 30vh
    }

    .textos-case {
        width: 100%;
        height: 35vh;
    }

    /************************** CONTATO ***/
    .contato {
        padding: 0rem 1rem 2rem 1rem;
        height: auto;
    }

    .container-contato {
        width: 100%;
        height: auto;
    }

    .headline-contato {
        flex-direction: column;
        height: auto;
    }

    .titulo-contato {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .titulo-contato h1 {
        font-size: 6rem;
    }

    .descricao-contato {
        width: 100%;
        text-align: right;
        font-size: 1.4rem;
    }

    .descricao-contato a {
        text-decoration: none;
        color: var(--color-black);
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        line-height: 1.4;
        font-weight: bold;
    }


    .conteudo-contato {
        padding-top: 2rem;
        flex-direction: column-reverse;
    }

    .logo-contato {
        width: 100%;
        justify-content: center;
    }

    .logo-contato img{
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }

    .formulario-contato {
        width: 100%;
    }

    .credits-column {
        width: auto;
        text-align: right;
        margin-top: 0;
    }

        /*************** FOOTER *****/
.footer {
    width: 100%;
    display: block;
}

.footer-column {
    text-align: right;
}

.logo-column{
    flex: 1;
    display: block;
    text-align: center;
}

.social-links {
    flex: 1;
    display: block;
    align-items: center;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.credits-column {
    text-align: center;
    font-size: 1.0rem;
}

.credits-column p {
    font-size: 1.3rem;
    margin: 1.0rem 0;
}

#whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
}

@media (max-width: 768px){

    .curriculo {
        margin-bottom: 100px;
    }
    
    /************************** Inicio ***/

    .complemento-inicio{
        padding-top: 30px;
    }

        /************************** SERVIÇOS ***/

        .headline-servicos {
            flex-direction: column;
            height: auto;
        }
    
        .titulo-servicos {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
        }
    
        .titulo-servicos h1 {
            font-size: 3rem;
        }
    
        .descricao-servicos {
            width: 100%;
            text-align: left;
            font-size: 1.0rem;
        }

    /************************** PORTFOLIO ***/

    .container-portfolio {
        gap: 1rem;
        padding: 1rem 1rem;
    }

    .headline-portfolio {
        flex-direction: column;
        height: auto;
    }

    .headline-portfolio .titulo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .headline-portfolio .titulo {
        font-size: 3rem;
    }

    .slide {
        height: 250px;
        margin-bottom: 10px;
    }

    .headline-portfolio .descricao {
        width: 100%;
        text-align: left;
        font-size: 1.0rem;
    }

    .container-case {
        gap: 3rem;
        display: flex;
    }

    .case1,
    .case3 {
        flex-direction: column;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .case2, 
    .case4 {
        flex-direction: column-reverse;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }
    
    .imagens-case {
        width: 100%;
        height: 30vh
    }

    .textos-case {
        width: 100%;
        height: 35vh;
    }

    .conteudo-textos-case p {
        font-size: 20px;
    }
        /************************** CONTATO ***/
    .contato {
        padding: 0rem 1rem 2rem 1rem;
        height: auto;
    }

    .container-contato {
        width: 100%;
        height: auto;
    }

    .headline-contato {
        flex-direction: column;
        height: auto;
    }

    .titulo-contato {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .titulo-contato h1 {
        font-size: 3rem;
    }

    .descricao-contato {
        width: 100%;
        text-align: left;
        font-size: 1.4rem;
    }

    .descricao-contato a {
        text-decoration: none;
        color: var(--color-black);
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        line-height: 1.4;
        font-weight: bold;
    }


    .conteudo-contato {
        padding-top: 2rem;
        flex-direction: column-reverse;
    }

    .logo-contato {
        width: 100%;
        justify-content: center;
    }

    .logo-contato img{
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }

    .formulario-contato {
        width: 100%;
    }

    .credits-column {
        width: auto;
        text-align: right;
        margin-top: 0;
    }

    /*************** FOOTER *****/
.footer {
    width: 100%;
    display: block;
}

.footer-column {
    text-align: right;
}

.logo-column{
    flex: 1;
    display: block;
    text-align: center;
}

.social-links {
    flex: 1;
    display: block;
    align-items: center;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.credits-column {
    text-align: center;
    font-size: 1.0rem;
}

.credits-column p {
    font-size: 1.3rem;
    margin: 1.0rem 0;
}

#whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

}